<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie Reviewer</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="">
  <div class="column">
    <header class="">
      <nav class="navbar ml-6 mr-6">
      <h1 class="is-size-2 navbar-brand">
        <span role="img" aria-label="camera"> 🎥 </span>
        <a class="pl-2 has-text-weight-semibold" href="/"> Movie Reviewer</a>
      </h1 class="navbar-end">
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <button class="button is-primary navbar-end mt-3" id="logout">Logout</button>
        {{else}}
        <a class="button is-primary navbar-end mt-3" href="/login">Login</a>
        {{/if}}
      </nav>
    </header>
    <main class="columns is-multiline is-mobile mt-2" >
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
